/.vscode/obj
/*.sln 
/*/RR Compat
# /*/Assemblies
# /*/Assemblies/*.pdb
# /.vscode
# /Source
RR Compat/*
TCSS Compat/*
Source/VersionInfo.cs
Nice Inventory Tab/*
MO/*
ReverseCommands/*
STCP/*
YAYOAni/*
/Legacy and Compat/*